@page "/categorydetails"
@page "/categorydetails/{Id:int}"
@inject NavigationManager NavigationManager;
@inject ICategoryService CategoryService;

<div class="modal" tabindex="-1" style="display:block" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3>Category Details</h3>

            </div>
            <div class="modal-body">
                <EditForm Model="@category" OnValidSubmit="SaveCategory">

                    <DataAnnotationsValidator />
                    @*  <ValidationSummary /> *@

                    <table class="table">
                        <tr>
                            <td>Name</td>
                            <td><input type="text" @bind="category.Name" /></td>
                        </tr>
                        <tr><td colspan="2"><ValidationMessage For="@(()=> category.Name)" /></td></tr>
                        <tr>
                            <td colspan="2" style="text-align:center">
                                <input type="submit" class="btn btn-success" value="Save" />
                                <input type="button" class="btn btn-sm" value="Cancel" @onclick="Cancel" />
                            </td>
                        </tr>

                    </table>


                </EditForm>

            </div>
        </div>

    </div>


</div>




@code {
    Category category = new Category();

    [Parameter]
    public int Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        if (Id > 0)
        {
            category = await CategoryService.GetCategoryDetails(Id);
        }

    }


    protected async Task SaveCategory()
    {
        await CategoryService.SaveCategory(category);
        NavigateToCategories();
    }

    protected void Cancel()
    {
        NavigateToCategories();
    }


    //metodo que hace la navegación, pero solo es para no repetir codigo, solo con el método.
    public void NavigateToCategories()
    {

        NavigationManager.NavigateTo("/categories");

    }


}
