@page "/expensetracker"
@using BlazorExpenseTracker.UI.Components
<h3>Expense Tracker</h3>


<TabControl>

    <TabTitle>
        <img src="images/@(context.ImgSource).png"/> @context.Text
    </TabTitle>
   
    <ChildContent>
        <br />
        <div class="card-body p-3" >
            <TabPage Text="Expense" ImgSource="minus">
                <ExpenseDetails ExpenseType="@Model.ExpenseType.Expense"></ExpenseDetails>
            </TabPage>
            <TabPage Text="Income" ImgSource="plus">
                <ExpenseDetails ExpenseType="@Model.ExpenseType.Income"></ExpenseDetails>
            </TabPage>

        </div>

    </ChildContent>
</TabControl>

<ExpenseHistory></ExpenseHistory>


@code {

}
